/* App.css */

*{
  overflow-x: none;
  /* overflow-y: none; */
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app__content {
  display: flex;
  flex-wrap: wrap;
}

.app__main {
  flex: 1 1 70%;
}

.app__details {
  flex: 1 1 30%;
}

/* Other component styles... */

